@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}


.profilePic {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.header {
  color: white;
  text-align: center;
  padding-bottom: 12px;
  text-transform: uppercase;

}

.messageLink {
  text-transform: uppercase;
  text-align: center;
}


.box {
	width: 400px;
	padding: 25px 25px 0 25px;
	background: rgba(0,0,0,.3);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
  margin-top: 20px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: 0%;
}

.box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}


.paragraph {
    padding: 6px;
    font-size: 16px;
    color: white;
}


@media (max-width: 45em) {
  .box {
    float: none;
    width: auto;
  }
}