@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}