@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 45rem) {
  .mainPage {
    display: flex;
    flex-direction: column;
  }
}