@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html, body {
  margin: 0;
  font-family: 'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-footerfont-smallblue{
  padding-top: 25%;
  text-align: center;
  position: static;
}

